
@{
    ViewData["Title"] = "EmailVista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buen Dia, aprovecho para mandarle requerimientos, de *Papeleria* para cotización</h1>
<br />
<h2>*texto*</h2>
<br />
<h2>De antemano mucgas gracias, quedo pendiente de respuesta.</h2>

